%h2 Welcome to the Blank Project
%p This client makes it very simple to have the power of haml, ruby, and markdown, on your web sites, without having to know linux, databases, to get your site up and running and to maintain content.