%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "http://s3.amazonaws.com/jackhq/stylesheets/screen.css"}
/[if IE] <link rel="stylesheet" href="http://s3.amazonaws.com/jackhq/stylesheets/ie.css" type="text/css" media="screen, projection"> 
%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "http://s3.amazonaws.com/jackhq/stylesheets/ui.all.css"}
%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/redmond/jquery-ui.css"}
%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href => "/stylesheets/application.css"}
